<div th:fragment="header" class="cv-main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-9">
                <div class="cv-logo">
                    <a href="/"><img th:src="@{/images/logo.svg}" alt="image" class="img-fluid" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-3">
                <div class="cv-nav-bar">
                    <div class="cv-menu">
                        <ul>
                            <li>
                                <a 
                                    th:class="${@requestUtils.getCurrentUrl() == '/' ? 'active':''}" 
                                    href="/">
                                    Home
                                </a>
                            </li>

                            <li>
                                <a 
                                    th:class="${@requestUtils.getCurrentUrl() == '/shop' ? 'active':''}" 
                                    href="/shop">
                                    Shop
                                </a>
                            </li>
                            
                            <li>
                                <a 
                                    th:class="${@requestUtils.getCurrentUrl() == '/about' ? 'active':''}" 
                                    href="/about">
                                    About
                                </a>
                            </li>
                            
                            <li>
                                <a 
                                    th:class="${@requestUtils.getCurrentUrl() == '/services' ? 'active':''}" 
                                    href="/services">
                                    Service
                                </a>
                            </li>
                            
                            <li>
                                <a 
                                    th:class="${@requestUtils.getCurrentUrl() == '/contact' ? 'active':''}" 
                                    href="/contact">
                                    Contact
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="cv-toggle-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  