<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Equipment - PPE Kit Responsive HTML Template</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/fav.png}" type="image/x-icon">

</head>

<body>
    
    <div class="cv-ellipsis">
        <div class="cv-preloader">
            <div></div>
        </div>
    </div>
    
    
    <div class="cv-main-wrapper">
        
        <div th:replace="~{fragments/top-header :: top-header}" class="cv-top-header"> </div>

        <div th:replace="~{fragments/header :: header}" class="cv-main-header"> </div>

        <div class="cv-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cv-breadcrumb-box">
                            <h1>Shop</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cv-shop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cv-shop-box">
                            <div class="cv-shop-title">
                                <h2 class="cv-sidebar-title">Showing results</h2>
                                <p><span>Total : </span>8</p>
                            </div>
                            <div class="cv-product-all wow fadeIn" data-wow-delay="0.5s">
                                <div class="cv-gallery-grid">

                                    <div th:each="item : ${medicines}" class="cv-product-box cv-product-item cv-hand">
                                        <div class="cv-product-img">
                                            <img th:src="@{${item.imageUrl}}" alt="image" class="img-fluid" />
                                        </div>
                                        <div class="cv-product-data">
                                            <a th:href="@{/medicine-details/}+${item.id}" class="cv-price-title">[[${item.name}]]</a>
                                            <p class="cv-pdoduct-price">[[${item.price}]]</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}" class="cv-footer spacer-top spacer-bottom"> </div>

        <div th:replace="~{fragments/copyright :: copyright}" class="cv-copyright"> </div>
        
    </div>
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/isotope.min.js}"></script>
    <script th:src="@{/js/ui_range_slider.js}"></script>
    <script th:src="@{/js/SmoothScroll.min.js}"></script>
    <script th:src="@{/js/swiper.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>

</html>